.git
.github
.vscode
.idea

.venv
.tools

__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.ipynb_checkpoints

.env
.env.*

data/raw/*
data/interim/*
data/processed/*

reports/figures/*

*.log
.DS_Store

!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!reports/figures/.gitkeep